<div class=" container-scroller"> 
    <!--Navbar-->
    <nav class="navbar bg-info col-lg-12 col-12 p-0 fixed-top navbar-inverse d-flex flex-row">
      <div class="bg-info text-center navbar-brand-wrapper"> <a class="navbar-brand brand-logo" href="#"><img src="../../assets/images/logo.png" /></a> <a class="navbar-brand brand-logo-mini" href="#"><img src="../../assets/images/logo.png" alt=""></a> </div>
      <div class="navbar-menu-wrapper d-flex align-items-center">
        <button class="navbar-toggler navbar-toggler hidden-md-down align-self-center mr-3" type="button" data-toggle="minimize"> <span class="navbar-toggler-icon"></span> </button>
        <ul class="navbar-nav ml-lg-auto d-flex align-items-center flex-row">
            <li class="nav-item"> <a class="nav-link" title="Sign out" style="cursor: pointer" (click) = "signOut()"><i class="fa fa-sign-out"></i></a> </li>
          </ul>
        <button class="navbar-toggler navbar-toggler-right hidden-lg-up align-self-center" type="button" data-toggle="offcanvas"> <span class="navbar-toggler-icon"></span> </button>
      </div>
    </nav>
    <!--End navbar-->
    <div class="container-fluid">
      <div class="row row-offcanvas row-offcanvas-right">
        <nav class="bg-white sidebar sidebar-fixed sidebar-offcanvas bg-info" id="sidebar">
            <div class="user-info" style="padding-top: 25px;">
                <img src="{{currentLibLink+currentLibId}}.jpg" alt="Avatar">
                <p class="name">{{currentLibFName+" "+currentLibLName}}</p>
                <p class="designation">{{currentLibRole}}</p>
                <span class="online"></span>
            </div>
          <ul class="nav mt-5">
            <!-- Circulation -->
            <li class="nav-item"> <a class="nav-link" href="/Borrowing"><span class="menu-title text-white" style="font-size:2rem">Circulation</span> </a></li>
         
            <li class="nav-item"> <a class="nav-link" href="/Borrowing"><img src="../../assets/images/SliderBar/Borrowing2.png" alt=""> <span class="menu-title text-white">Borrowing</span> </a></li>
  
            <li class="nav-item "> <a class="nav-link" href="/Returning"><img src="../../assets/images/SliderBar/Return.png" alt=""> <span class="menu-title text-white">Returning</span> </a></li>
   
            <li class="nav-item">
              <hr/>
            </li>
         <!-- End Circulation -->
  
            <!-- Report -->
            <li class="nav-item"> <a class="nav-link" href="/BookNotReturn"><span class="menu-title text-white" style="font-size:2rem">Report</span> </a></li>
            <li class="nav-item"> <a class="nav-link"  data-toggle="collapse" href="#CourseCollapse" aria-expanded="false" aria-controls="collapseExample">
            <img src="../../assets/images/SliderBar/Course.png" alt=""> <span class="menu-title text-white">Report</span><span class="fa fa-arrow-down pull-right text-white"></span> </a> 
            </li>
            <div class="collapse" id="CourseCollapse">
                <li class="nav-item ml-4"> <a class="nav-link" href="/BookNotReturn"><img src="../../assets/images/SliderBar/BookCourse.png" alt=""> <span class="menu-title text-white">Book Not Yet Return</span> </a></li>
                <li class="nav-item ml-4"> <a class="nav-link" href="/AvailableBook"><img src="../../assets/images/SliderBar/BookCourse.png" alt=""> <span class="menu-title text-white">Available Book</span> </a></li>
                <li class="nav-item ml-4"> <a class="nav-link" href="/BookByStatus"><img src="../../assets/images/SliderBar/BookCourse.png" alt=""> <span class="menu-title text-white">Book By Status</span> </a></li>
            </div>
            <li class="nav-item">
                <hr/>
            </li>
            <!-- End Report -->
  
           <!-- Book --> 
            <li class="nav-item"> <a class="nav-link" href="/Book"><span class="menu-title text-white" style="font-size:2rem">Book</span> </a></li>
               <!-- Collapse --> 
            <li class="nav-item"> <a class="nav-link"  data-toggle="collapse" href="#BookCollapse" aria-expanded="false" aria-controls="collapseExample">
             <img src="../../assets/images/SliderBar/Book.png" alt=""> <span class="menu-title text-white">Book</span><span class="fa fa-arrow-down pull-right text-white"></span> </a> 
            </li>
            <div class="collapse" id="BookCollapse">
                <li class="nav-item ml-4"> <a class="nav-link" href="/BookTitle"><img src="../../assets/images/SliderBar/BookTitle.png" alt=""> <span class="menu-title text-white">Book Title</span> </a></li>
                <li class="nav-item ml-4"> <a class="nav-link" href="/Book"><img src="../../assets/images/SliderBar/BookList.png" alt=""> <span class="menu-title text-white">Book List</span> </a></li>
            </div>
     <!-- Collapse --> 
            <li class="nav-item"> <a class="nav-link" href="/Category"> <img src="../../assets/images/SliderBar/Categories.png" alt=""> <span class="menu-title text-white">Category</span> </a> </li>
            <li class="nav-item"> <a class="nav-link" href="/Author"> <img src="../../assets/images/SliderBar/Author.png" alt=""> <span class="menu-title text-white">Author</span> </a> </li>
            <li class="nav-item"> <a class="nav-link" href="/BookPublisher"> <img src="../../assets/images/SliderBar/BookPublisher.png" alt=""> <span class="menu-title text-white">Publisher</span> </a> </li>
            <li class="nav-item">
              <hr/>
            </li>
            <!-- End Book --> 
               
      <!-- Borrower --> 
      <li class="nav-item"> <a class="nav-link" href="/Borrower"><span class="menu-title text-white" style="font-size:2rem">Human</span> </a></li>
     <!-- Collapse --> 
            <li class="nav-item"> <a class="nav-link"  data-toggle="collapse" href="#BorrowerCollapse" aria-expanded="false" aria-controls="collapseExample">
             <img src="../../assets/images/SliderBar/customers.png" alt=""> <span class="menu-title text-white">Borrower</span><span class="fa fa-arrow-down pull-right text-white"></span> </a> 
            </li>
            <div class="collapse" id="BorrowerCollapse">
                <li class="nav-item ml-4"> <a class="nav-link" href="/BorrowerType"><img src="../../assets/images/SliderBar/employees.png" alt=""> <span class="menu-title text-white">Borrower Type</span> </a></li>
                <li class="nav-item ml-4"> <a class="nav-link" href="/Borrower"><img src="../../assets/images/SliderBar/BorrowerList.png" alt=""> <span class="menu-title text-white">Borrower List</span> </a></li>
            </div>
     <!-- Collapse --> 
     <!-- End Borrower --> 
             <!-- Librarian --> 
            <li class="nav-item"> <a class="nav-link" href="/Librarian"> <img src="../../assets/images/SliderBar/Librarian.png" alt=""> <span class="menu-title text-white">Librarian</span> </a> </li>
            <li class="nav-item">
              <hr/>
            </li>
             <!-- End Librarian -->     
            
          </ul>
        </nav>
        <!-- SIDEBAR ENDS -->
      
      <div class="content-wrapper">
        <div class="card">
          <div class="card-block">
            <h5 class="card-title mb-4 text-info">Available Books</h5>
            <div class="card-header bg-white" style="text-align: center;">
              <div class="row " role="group">
              	<div class="col-7 d-inline-block ">
                  	<div class="form-group">
                        <div class="input-group row justify-content-end">
                          <label class="col-sm-6 col-form-label text-right">BookStatus</label>
                          <select class="col-sm-6 js-example-basic-single  " id="statusSelectionEdit" name="StatusAdd" style="width:7rem">
                            <option value="0" id = "newBook">New</option>
                            <option value="1" id = "secondBook">Second-hand</option>
                            <option value="2" id = "liquidatedBook">Liquidated</option>
                          </select>
                        </div>
                      </div> 
               </div>
               <div class="col-5 d-inline-block ">
                  <div class="input-group row justify-content-start">
                    <button id="btnShow" class="btn btn-info " (click) = "showBook();">Show</button> 
                  </div>
               </div>
              </div>
            </div>
            <div class="card-block">
                <table id="tbl" class="table table-striped table-bordered table-hover">
                  <thead>
                    <tr class="">
                      <th style="width:10%">No.</th>
                      <th style="width:50%">Book Title</th>
                      <th style="width:20%">Barcode</th>     
                      <th style="width:50%">Publishing Date</th>   
                      <th style="width:20%">Book status</th>
                      <th style="width:20%">Book Image</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr class="">
                      <th>No.</th>
                      <th>Book Title</th>
                      <th>Barcode</th>
                      <th>Publishing Date</th>   
                      <th>Publisher</th>  
                      <th>Book Status</th>       
                    </tr>
                  </tfoot>
                  <tbody>
                    <tr *ngFor="let book of data; let i = index;" id="{{book.bookid}}">
                      <td>{{i+1}}</td>
                      <td>{{book.titles.booktitle}}</td>
                      <td>{{book.barcode}}</td>  
                      <td>{{book.titles.pubdate}}</td>     
                      <td>{{getBookStatusMeaning(book.bookstatus)}}</td>
                      <td> 
                        <img src="{{backendBookImageLink+book.titles.bookimage}}" alt="" width="100">
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
          </div>
        </div>
      </div>
      
      <footer class="footer">
        <div class="container-fluid clearfix text"> <span class="float-right"> <a href="#">LTLibrary</a> &copy; 2017 </span> </div>
      </footer>
    </div>
  </div>
</div>

<!--Modal Add-->
<div id="modalAdd" class="modal fade"  role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add New Book</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        		<div class="form-group">
                  <div class="input-group row">
                    <label class="col-sm-2 col-form-label">ISBN</label>
                    <select id="isbnSelectionAdd"  name="isbnSelection" style="width:30%" > 
                   </select>
                   <span class="ml-5 mt-1" id="bookTitleHint"></span>
                  </div>
                  
                </div>
                <div class="form-group">
                  <div class="input-group row">
                    <label class="col-sm-2 col-form-label">Barcode</label>
                    <input type="text" class="form-control p_input" placeholder="Barcode" [(ngModel)]="barCode">
                  </div>
                </div>
              	<div class="form-group">
                  <div class="input-group row">
                  	<label class="col-sm-2 col-form-label">BookStatus</label>
                    <select class="js-example-basic-single" id="statusSelectionAdd" name="StatusAdd" style="width:20%">
                      <option value="0">New</option>
                      <option value="1">Second-hand</option>
                      <option value="2">Liquidated</option>
                    </select>
                  </div>
                </div>
                 
                <div class="form-group">
                  <div class="input-group row">
                    <label class="col-sm-2 col-form-label">Real Price($):</label>
                    <input type="email" class="form-control p_input" placeholder="Real Price" [(ngModel)]="realPrice">
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group row">
                    <label class="col-sm-2 col-form-label">Note</label>
                    <input type="text" class="form-control p_input" placeholder="Note"  [(ngModel)]="note">
                  </div>
                </div>      
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click) = "checkAddForm()">Add</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


