<!-- <app-author></app-author> -->
<!-- <app-book></app-book> -->
<!-- <app-book-publisher></app-book-publisher> -->
<!-- <app-book-title></app-book-title> -->
<!-- <app-borrower></app-borrower> -->
<!-- <app-borrower-type></app-borrower-type> -->
<!-- <app-borrowing></app-borrowing> -->
<!-- <app-borrowing-detail></app-borrowing-detail> -->
<!-- <app-category></app-category> -->
<!-- <app-librarian></app-librarian> -->
<!-- <app-return></app-return> -->
<!-- <app-return-detail></app-return-detail> -->

<router-outlet></router-outlet>
